{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated and user.profile.user_type == 'company' %}
        <div class="container">
            <h2>Delete Store</h2>
            <p>Are you sure you want to delete "{{ object.title }}"?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, delete</button>
                <a href="{% url 'find_it:store-management' %}" class="btn btn-secondary">No, return to management page</a>
            </form>
        </div>
    {% endif %}
{% endblock %}